.table-responsive{
    min-height: calc(100vh - 280px);
    max-height: calc(100vh - 280px);
    overflow: auto;
    background: url('https://res.cloudinary.com/www-googlec-com/image/upload/o_20/v1591633138/1_ljbees.jpg');
    background-repeat: no-repeat;
}