<div class="container-fluid  pt-5">
    <div class="bread">
        <div>
            <span>Admin</span>
        </div>
    </div>
    <div class="container-fluid px-5" style="background: url(https://res.cloudinary.com/www-googlec-com/image/upload/o_20/v1591633138/1_ljbees.jpg);    background-repeat: no-repeat;">
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid px-3">
                    <div class="row">
                        <div class="col-md-4 sub-menu mb-xl-0 px-2 pt-3 pb-3">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-snowflake-o" aria-hidden="true"></i> Purpose
                                </span>
                            </h6>
                            
                        </div>
                        <div class="col-md-4 sub-menu mb-xl-0 px-2 pt-3 pb-3">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-id-card-o" aria-hidden="true"></i> Description of the Application
                                </span>
                            </h6>
                            
                        </div>
                        <div class="col-md-4 sub-menu mb-xl-0 px-2 pt-3 pb-3">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-address-card-o" aria-hidden="true"></i> Application Context Diagram
                                </span>
                            </h6>
                            
                        </div>
                        <div class="col-md-4 sub-menu mb-xl-0 px-2 pt-0">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-medkit" aria-hidden="true"></i> AID Scope
                                </span>
                            </h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/user">
                                        In Scope
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/RoleSearch">
                                        Out of Scope
                                    </a>
                                </li>
                               
                            </ul>
                            
                        </div>
                        <div class="col-md-4 sub-menu mb-xl-0 px-2 pt-0">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-address-card-o" aria-hidden="true"></i> Application Overview 
                                    
                                </span>
                            </h6>
                            
                        </div>
                         <div class="col-md-4 sub-menu mb-xl-0 px-2 pt-0">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-user" aria-hidden="true"></i> Business (Process) Overview 
                                    
                                </span>
                            </h6>
                            
                        </div>
                        <div class="col-md-4 sub-menu mb-xl-0 px-2 pt-0">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-desktop" aria-hidden="true"></i> 
                                    System Overview
                                </span>
                            </h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/user">
                                        Users
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/RoleSearch">
                                        Role
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/GroupSearch">
                                        Group
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/Resource">
                                        Resource
                                    </a>
                                </li>
                            </ul>
                            
                        </div>

                        <div class="col-md-4 sub-menu mb-xl-0 px-2 pt-0">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-desktop" aria-hidden="true"></i> System Users 
                                    
                                </span>
                            </h6>
                            
                        </div>

                        <div class="col-md-4 sub-menu mb-xl-0 px-2 pt-0">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-address-card-o" aria-hidden="true"></i> Application Sizing information
                                    
                                </span>
                            </h6>
                            
                        </div>

                        <div class="col-md-4 sub-menu mb-xl-0 px-2 pt-0">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-desktop" aria-hidden="true"></i> System Details
                                    
                                </span>
                            </h6>
                            
                        </div>

                        <div class="col-md-4 sub-menu mb-xl-0 px-2 pt-0">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-cog" aria-hidden="true"></i> Data Model
                                </span>
                            </h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/user">
                                        Level One Data Flow (Context) Diagram
                                    </a>
                                </li>
                                
                            </ul>
                        </div>



                        <div class="col-md-4 sub-menu mb-xl-0 px-2 pt-0">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-database" aria-hidden="true"></i> Database Schema 
                                    
                                </span>
                            </h6>
                            
                        </div>

                        <div class="col-md-4 sub-menu mb-xl-0 px-2 py-3">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-user" aria-hidden="true"></i> Business(Process) Description
                                </span>
                            </h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/user">
                                        Handle contact
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/RoleSearch">
                                        Booking
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/GroupSearch">
                                        Handle Enquiry
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="col-md-4 sub-menu mb-xl-0 px-2 pt-0">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-area-chart" aria-hidden="true"></i> Capture Complaint 
                                    
                                </span>
                            </h6>
                            
                        </div>
                        <div class="col-md-4 sub-menu mb-xl-0 px-2 pt-0">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-file-text" aria-hidden="true"></i> Report
                                    
                                </span>
                            </h6>
                            
                        </div>
                        


                        
                    </div>
                </div>
            </div>
            
        </div>      
    </div>
    <div class="container-fluid menuFooter border-top b-0">
        <div class="row">
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2"><i class="fa fa-first-order" aria-hidden="true"></i> Regular Orders</div>
                    <div class="content1">63/63</div>

                </div>
            </div>
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2"><i class="fa fa-book" aria-hidden="true"></i> Booking Exceptions</div>
                    <div class="content1">3/3</div>

                </div>
            </div>
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Consignment</div>
                    <div class="content1">5/5</div>

                </div>
            </div>
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2"><i class="fa fa-quote-right" aria-hidden="true"></i> Quote</div>
                    <div class="content1">77/127</div>

                </div>
            </div>
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2"><i class="fa fa-address-card" aria-hidden="true"></i> General Enquiry</div>
                    <div class="content1">0/1</div>

                </div>
            </div>
        </div>
    </div>

</div>